/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html{
     font-size: 62.5%;;
}

body{
     margin: 0;
     padding: 0;
}

.hidden{
     display: none;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.navbar{
     
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     justify-content: space-between;
     padding: 5% 5%;
}

#logo,
#hamburger{
     height: 10%;
     width: 10%;
}

#mainLogo{
     background: url(../assets/mainFoto.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 0;
     padding-top: 75.64%;
}

.mainBox{
     border: 0.1rem solid rgb(238, 235, 235);
     margin: 0 auto;
     width: 90%;
     border-radius: 2rem;
     display: flex;
     flex-flow: column nowrap;
     margin-top: -1.5rem;
     background-color: rgb(238, 235, 235);
}

.twoBoxes{
     border: 0.2rem solid rgb(139, 138, 138);
     border-radius: 1rem;
     margin: 4% auto;
     width: 90%;
     display: flex;
     flex-flow: row nowrap;
}

.leftBox{
     width: 50%;
     color: rgb(39, 38, 38);
     font-weight: bold;
     letter-spacing: 0.05rem;
     padding: 1rem 1rem;
}

.leftBox:hover,
.rightBox:hover{
     background-color: white;
     border-bottom: 0.3rem solid red;
     border-radius: 1rem;
}

.leftBox p{
     width: 80%;
     margin: 0 auto;
     text-align: center;
     padding: 0.4rem 0.4rem;
}


.rightBox{
     width: 50%;
     margin: 0 auto;
     text-align: center;
     color: rgb(39, 38, 38);
     font-weight: bold;
     letter-spacing: 0.05rem;
     text-align: center;
     padding: 0.4rem 0.4rem;
}

.rightBox p{
     width: 80%;
     margin: 0 auto;
     text-align: center;
     padding: 0.4rem 0.4rem;
}

.inputBox{
     margin: 0 auto;
     width: 90%;
     background-color: white;
     border-radius: 1rem;
     display: flex;
     flex-flow: column;
     padding: 3% 3%;
}

.inputBox input{
     width: 90%;
     margin: 3% auto;
     padding: 1.3rem 0;
     text-align: center;
     border: 0.1rem solid rgb(202, 200, 200);
}

.inputBox button{
     margin: 4% auto;
     background-color: rgba(106, 142, 35, 0.623);
     border-radius: 1rem;
     padding: 3% 8%;
     color: white;
     border: none;
     width: 90%;
}

.commercialsBox{
     width: 90%;
     height: auto;
     margin: 3% auto;
     position: relative;
     padding: 1% 1%;
     background-color: red;
}

.commercialsBox img{
     border: 0.1rem solid red;
     border-radius: 1rem;
     background: url(../assets/commercial1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
     height: 0;
     padding-top: 100%;
     animation-name: commercialAnimation;
     animation-duration: 10s;
     animation-iteration-count: infinite;
}

@keyframes commercialAnimation {
     0%   {background: url(../assets/commercial1.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 0;
          padding-top: 100%;}
     25%  {background: url(../assets/commercial2.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 0;
          padding-top: 100%;}
     50%  {background: url(../assets/commercial3.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 0;
          padding-top: 100%;}
     100% {background: url(../assets/commercial4.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 0;
          padding-top: 100%;}
   }
